@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
  width: 50%;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  min-height: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

/* -------- Laptop scaling (<= 1200px) -------- */
@media screen and (max-width: 1200px) {
  .title {
    font-size: 60px;
    margin-bottom: 28px;
  }

  .description {
    font-size: 26px;
    margin-bottom: 40px;
  }

  .contactBtn {
    font-size: 24px;
    padding: 14px 24px;
  }

  .heroImg {
    width: 45%;
  }
}

/* -------- Tablet layout (<= 1024px) -------- */
@media screen and (max-width: 1024px) {
  .container {
    margin-top: 40px;
    margin-left: 8%;
    margin-right: 8%;
  }

  .title {
    font-size: 52px;
  }

  .description {
    font-size: 22px;
  }
}

/* -------- Tablet & large phones (<= 830px) -------- */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    margin-top: 32px;
    margin-left: 6%;
    margin-right: 6%;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .heroImg {
    width: 70%;
    margin-bottom: 24px;
  }

  .title {
    font-size: 42px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 20px;
    margin-bottom: 28px;
  }

  .contactBtn {
    font-size: 20px;
    padding: 12px 22px;
  }
}

/* -------- Small phones (<= 480px) -------- */
@media screen and (max-width: 480px) {
  .container {
    margin-left: 4%;
    margin-right: 4%;
  }

  .heroImg {
    width: 80%;
  }

  .title {
    font-size: 34px;
  }

  .description {
    font-size: 18px;
  }

  .contactBtn {
    font-size: 18px;
    padding: 10px 20px;
  }
}
