@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

/* ---------- Laptop (<= 1200px) ---------- */
@media screen and (max-width: 1200px) {
  .navbar {
    margin: 0 8%;
  }

  .title {
    font-size: 28px;
  }

  .menuItems a {
    font-size: 22px;
  }

  .menuItems {
    gap: 35px;
  }
}

/* ---------- Tablet (<= 1024px) ---------- */
@media screen and (max-width: 1024px) {
  .navbar {
    margin: 0 6%;
    padding-top: 50px;
  }

  .title {
    font-size: 26px;
  }

  .menuItems a {
    font-size: 20px;
  }

  .menuItems {
    gap: 28px;
  }
}

/* ---------- Tablet & Large Phones (<= 830px) ---------- */
@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 6%;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 6%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuItems a {
    font-size: 20px;
  }

  .menuOpen {
    display: flex;
    z-index: 3;
  }
}

/* ---------- Small Phones (<= 480px) ---------- */
@media screen and (max-width: 480px) {

  .navbar {
    margin: 0 4%;
    padding-top: 40px;
  }

  .title {
    font-size: 24px;
  }

  .menuBtn img {
    width: 32px; /* shrink menu icon for small phones */
  }

  .menuItems {
    padding: 20px 28px;
  }

  .menuItems a {
    font-size: 18px;
  }
}
