@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
}

.historyItem img {
  width: 50px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}

/* ---------- Laptop (<= 1200px) ---------- */
@media screen and (max-width: 1200px) {
  .skillImageContainer {
    width: 100px;
    height: 100px;
  }

  .skillImageContainer img {
    width: 65px;
  }

  .skill p {
    font-size: 22px;
  }

  .historyItemDetails h3 {
    font-size: 26px;
  }

  .historyItemDetails p {
    font-size: 18px;
  }

  .historyItemDetails ul {
    font-size: 22px;
  }

  .historyItem img {
    width: 45px;
  }
}

/* ---------- Tablet (<= 1024px) ---------- */
@media screen and (max-width: 1024px) {
  .container {
    margin-left: 8%;
    margin-right: 8%;
  }

  .skills,
  .history {
    width: 48%;
  }

  .skillImageContainer {
    width: 90px;
    height: 90px;
  }

  .skillImageContainer img {
    width: 60px;
  }

  .skill p {
    font-size: 20px;
  }

  .historyItem {
    padding: 18px;
  }
}

/* ---------- Tablet + Large Phones (<= 830px) ---------- */
@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    justify-content: center;
  }

  .skillImageContainer {
    width: 80px;
    height: 80px;
  }

  .skillImageContainer img {
    width: 50px;
  }

  .skill p {
    font-size: 18px;
  }

  .history {
    width: 100%;
    gap: 20px;
  }

  .historyItemDetails h3 {
    font-size: 22px;
  }

  .historyItemDetails p {
    font-size: 16px;
  }

  .historyItemDetails ul {
    font-size: 18px;
  }

  .historyItem img {
    width: 40px;
  }
}

/* ---------- Small Phones (<= 480px) ---------- */
@media screen and (max-width: 480px) {
  .container {
    margin-left: 4%;
    margin-right: 4%;
  }

  .skillImageContainer {
    width: 70px;
    height: 70px;
  }

  .skillImageContainer img {
    width: 40px;
  }

  .skill p {
    font-size: 16px;
  }

  .historyItem {
    padding: 14px;
  }

  .historyItemDetails h3 {
    font-size: 18px;
  }

  .historyItemDetails p {
    font-size: 14px;
  }

  .historyItemDetails ul {
    font-size: 16px;
  }
}
