@import "./vars.css";

.App {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 1200px;   /* or 1100 / 1000 – adjust to taste */
  margin: 0 auto;
  padding: 0 1.5rem;
}